name: ASDF CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  plugin-test:
    strategy:
      matrix:
        os:
          - ubuntu-16.04  # ubuntu-earliest
          - ubuntu-latest
          - macos-10.15  # macos-earliest
          - macos-latest
        python: ['2.x', '3.x']
        version: ['2.6.0', 'latest']
    runs-on: ${{ matrix.os }}
    steps:
      # Configures the python version used on GitHub-hosted runners
      - uses: actions/setup-python@v1
        with:
          # The python version to configure
          python-version: ${{ matrix.python }}
      # See https://github.com/asdf-vm/asdf/blob/master/docs/plugins-create.md#example-github-action
      - name: test plugin
        uses: asdf-vm/actions/plugin-test@v1
        with:
          command: pre-commit --version
          version: ${{ matrix.version }}
        env:
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }} # automatically provided
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run ShellCheck
        run: shellcheck bin/*
  format:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install shfmt
        run: brew install shfmt
      - name: Run shfmt
        run: shfmt -d -i 2 -ci .
