name: ASDF CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  plugin-test:
    strategy:
      matrix:
        os:
          - ubuntu-16.04  # ubuntu-earliest
          - ubuntu-latest
          - macos-10.15  # macos-earliest
          - macos-latest
        python:
          - '2.x'  # earliest
          - '3.x'  # latest
        version:
          - '1.0.0'  # earliest
          - '1.21.1'  # latest py2
          - 'latest'
        exclude:
          # pre-commit no longer supports python2
          - python: '2.x'
            version: 'latest'

    runs-on: ${{ matrix.os }}
    steps:
      - name: Remove python
        run: |
          for bin in python pip; do
            sudo rm -f $(which "${bin}")
            sudo rm -f $(which "${bin}3")
          done
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      # See https://github.com/asdf-vm/asdf/blob/master/docs/plugins-create.md#example-github-action
      - name: test plugin
        uses: asdf-vm/actions/plugin-test@v1
        with:
          command: pre-commit --version
          version: ${{ matrix.version }}
        env:
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }} # automatically provided
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run ShellCheck
        run: shellcheck bin/*
  format:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install shfmt
        run: brew install shfmt
      - name: Run shfmt
        run: shfmt -d -i 2 -ci .
